@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  font-family: 'Lato', 'Helvetica', 'Arial', sans-serif;
}

form {
  background-color: #000;
  padding: .3rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}

form input {
  border: 0;
  padding: 1rem;
  width: 90%;
  margin-right: .5%;
}

form button {
  width: 9%;
  background-color: rgb(130, 224, 255);
  border: none;
  padding: 1rem
}

#messages {
  list-style: none;
  margin: 0;
  padding: 0;
}

#messages li {
  padding: .5rem 1rem;
}

#messages li:nth-child(odd) {
  background-color: #eee;
}